# Игнорировать виртуальные окружения
venv/
.venv/

# Игнорировать файлы окружения
.env

# Игнорировать скомпилированные Python файлы
__pycache__/
*.pyc

# Игнорировать файлы базы данных
*.sqlite3

# Игнорировать статические файлы и загружаемые медиа-файлы (если вы используете версии, загружаемые автоматически)
staticfiles/
media/

# Игнорировать настройки IDE
.idea/
.vscode/
